{% extends "base.html" %}
{%block content%}
<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../static/photos/kitchen5.jpg" class="d-block w-100" alt="..." style="height: 700px;">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Get the best deals!!</h1>
            <p style="font-size:1.5em;">Get upto 20% discount on all Kitchen appliances</p>
            <p><a class="btn btn-lg btn-primary" href="#">See more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/photos/slider1.png" class="d-block w-100" alt="...">
        <div class="container">
          <div class="carousel-caption" style="margin-bottom: 80px;">
            <h1>Farm Fresh grocery</h1>
            <p style="font-size:1.5em;">Our fruits and Vegetables come fresh from the best kenyan farms to ensure quality.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/photos/food-desert_v05.jpg" class="d-block w-100" alt="..." style="height:680px ;">

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Fast, Fresh and Free Home Delivery Services.</h1>
            <p style="font-size:1.5em;">Get free and timely delivery to your doorstep .</p>

          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================= -->


  <div class="container marketing">

    <div class="center-div">
      <div class="row" id="home" style="margin-top:40px ;">

        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle" width="220" height="220" src="../static/photos/grocery.jpeg">


          <h2>GROCERY</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="{{url_for('fruits')}}">View details &raquo;</a></p>
        </div>

        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle" width="220" height="220" src="../static/photos/kitchen.jpg">

          <h2>KITCHEN HARDWARE</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="{{url_for('kitchen')}}">View details &raquo;</a></p>
        </div>

        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle" width="220" height="220" src="../static/photos/del.jpg">

          <h2>HOME DELIVERY</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div>
      </div>
    </div>


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7" style="margin-top:40px ;">
        <h2 class="featurette-heading">Kitchen Utensils </h2>
        <p class="lead">Get the best deals in kitchen hardware and utensils from our wide range of goods</p>

      </div>
      <div class="col-md-5">
        <img src="../static/photos/kitchen2.jpg" class="d-block w-100" alt="..." style="height: 250px;">


      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2" style="margin-top:40px ;">
        <h2 class="featurette-heading">Farm Fresh grocery</h2>
        <p class="lead">By ensuring we have the freshest fruits and vegetables of best quality sourced directly from the farm,we ensure customer satisfaction.</p>

      </div>
      <div class="col-md-5 order-md-1">
        <img src="../static/photos/img_20220519_122508.png" class="d-block w-100" alt="..." style="height:250px ;">


      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7" style="margin-top:40px ;">
        <h2 class="featurette-heading">Fast, Fresh and Free Home Delivery Services.</h2>
        <p class="lead">Get your shopping to your doorstep for free!! We offer free and timely delivery for shoppers around Nairobi.</p>

      </div>
      <div class="col-md-5">
        <img src="../static/photos/home-delivery.jpg" class="d-block w-100" alt="..." style="height:250px ;">

      </div>
    </div>

    <hr class="featurette-divider">



  </div>


  <!-- FOOTER -->
  <div class="container">
    <div class="footer bg-dark" style="height:300px ;">
      <div class="text-light " style="text-align:center ;">
        <div class="row" id="contactdetails">
          <div class="col-md-1">

          </div>
          <div class="col-md-3 text-justify text-monospace">
            <h2 class="text-warning">Location</h2>
            <p>kitchemware</p>
            <p>Parklands, nairobi</p>
            <p>Parklands || first avenue</p>
          </div>
          <div class="col-md-3">
            <h2 class="text-warning">Customer Service</h2>
            <p>kitchenware@gmail.com</p>
            <p>Tell: 0228446557</p>
            <p>Phone: +2547035657</p>
          </div>
          <div class="col-md-4">
            <div class="map">
              <div class="gmap_canvas">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15955.407888559546!2d36.8080660267108!3d-1.2610626352832797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f17199c297e71%3A0x7019c24cbb4896d4!2sParklands%2C%20Nairobi!5e0!3m2!1sen!2ske!4v1648117441059!5m2!1sen!2ske"
                  width="600" height="500px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
              <style>
                .map {
                  position: relative;
                  text-align: right;
                  height: 200px;
                  width: 350px;
                }

                .gmap_canvas {
                  overflow: hidden;
                  background: none !important;
                  height: 200px;
                  width: 350px;
                  margin-top: 10px;
                }
              </style>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>


    </div>
  </div>

  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2022 Online Kitchen Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>
{% endblock %}
