{% extends "base.html" %}
{%block content%}
<div class="container-fluid" id="bg">

  <div class="container" id="banner">
    <p>Shop for the Best kitchen appliances</p>
  </div>
  <div class="container">



    <main>




      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
          <div class="col">
            <div class="card shadow-sm" id="card-item">
              <div class="image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFhxivPwGNgywuXkHmSD-TWTnMBsqYzC_wqQ&usqp=CAU" alt="">
              </div>
              <div class="card-body">
                <div class="name">
                  <h3>Cooker</h3>
                  <p>Ksh 20,030</p>
                </div>



                <div class="d-flex">
                  <div class="btn-group">
                    <button type="submit" class="item-btn">Add to Cart</button>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm" id="card-item">
              <div class="image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVeCroIRNhaoEbPZ2glcaCIkQnlekSqpW_1Q&usqp=CAU" alt="">
              </div>

              <div class="card-body">
                <div class="name">
                  <h3>Oven set</h3>
                  <p>Ksh 333,568</p>

                </div>
                <div class="d-flex">
                  <div class="btn-group">
                    <button type="submit" class="item-btn">Add to Cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm" id="card-item">
              <div class="image">
                <img src="https://www.businesslist.co.ke/img/ke/z/1470324409-57-nairobi-kitchen-dealer.jpg" alt="">
              </div>
              <div class="card-body">
                <div class="name">
                  <h3>Mordern Stove</h3>
                  <p>Ksh 7,030</p>
                </div>



                <div class="d-flex">
                  <div class="btn-group">
                    <button type="submit" class="item-btn">Add to Cart</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm" id="card-item">
              <div class="image">
                <img src="https://media.istockphoto.com/photos/kitchen-equipment-set-picture-id629817404" alt="">
              </div>
              <div class="card-body">
                <div class="name">
                  <h3>Dough set</h3>
                  <p>Ksh 6,030</p>
                </div>



                <div class="d-flex">
                  <div class="btn-group">
                    <button type="submit" class="item-btn">Add to Cart</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm" id="card-item">
              <div class="image">
                <img src="https://www.compliancegate.com/wp-content/uploads/2019/12/kitchen-appliances-safety-standards-eu.jpg" alt="">
              </div>
              <div class="card-body">
                <div class="name">
                  <h3>Blender set</h3>
                  <p>Ksh 15,050</p>
                </div>



                <div class="d-flex">
                  <div class="btn-group">
                    <button type="submit" class="item-btn">Add to Cart</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm" id="card-item">
              <div class="image">
                <img src="https://media.istockphoto.com/photos/kitchen-equipment-and-cutlery-set-picture-id516114249" alt="">
              </div>
              <div class="card-body">
                <div class="name">
                  <h3>Strainers</h3>
                  <p>Ksh 3,040</p>
                </div>



                <div class="d-flex">
                  <div class="btn-group">
                    <button type="submit" class="item-btn">Add to Cart</button>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm" id="card-item">
              <div class="image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdttnZvKnb9Bj3rG_T4tuXncZKgrYlRW_WpA&usqp=CAU" alt="">
              </div>
              <div class="card-body">
                <div class="name">
                  <h3>Non-sticky pan</h3>
                  <p>Ksh 2,050</p>
                </div>



                <div class="d-flex">
                  <div class="btn-group">
                    <button type="submit" class="item-btn">Add to Cart</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm" id="card-item">
              <div class="image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZZOd_rORhC-Fp_JudTFemrmLfCqF5kA8IOA&usqp=CAU" alt="">
              </div>
              <div class="card-body">
                <div class="name">
                  <h3>Microwave</h3>
                  <p>Ksh 5030</p>
                </div>



                <div class="d-flex">
                  <div class="btn-group">
                    <button type="submit" class="item-btn">Add to Cart</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm" id="card-item">
              <div class="image">
                <img src="https://m.media-amazon.com/images/I/71EvEG5qv4L._AC_SL1500_.jpg" alt="">
              </div>
              <div class="card-body">
                <div class="name">
                  <h3>Serving set</h3>
                  <p>Ksh 2,040</p>
                </div>



                <div class="d-flex">
                  <div class="btn-group">
                    <button type="submit" class="item-btn">Add to Cart</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm" id="card-item">
              <div class="image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTINd2sVl_0WaZxx2frlc2AQAB4RSVNi45zrg&usqp=CAU" alt="">
              </div>
              <div class="card-body">
                <div class="name">
                  <h3>Trolley</h3>
                  <p>Ksh 4,050</p>
                </div>



                <div class="d-flex">
                  <div class="btn-group">
                    <button type="submit" class="item-btn">Add to Cart</button>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>


    </main>

    <div class="container" id="vegesbanner">
      <img src="{{url_for('static', filename='vegesborder.png')}}" alt="no image">


    </div>


  </div>
{% endblock %}
