{% extends 'base.html' %}
{% block content %}




<div class="container-fluid" id="bg">
 
  <div class="container" id="banner">
    <p >Shop for fresh Kales, Spinach, Cabbage, Cauliflower And Exotic Seasonal Fruits</p>
  </div>
<div class="container">
  
  

    <main>
     
 

  
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        <div class="col">
          <div class="card shadow-sm" id="card-item">
             <div class="image">
               <img src="{{url_for('static', filename='kales.png')}}" alt="">
             </div>
            <div class="card-body">
              <div class="name">
                <h3>Kales Bunch</h3>
                <p>Ksh 30</p>
              </div>
              
              

              <div class="d-flex">
                <div class="btn-group">
                  <button type="submit" class="item-btn">Add to Cart</button>
                </div>
              
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm"  id="card-item">
            <div class="image">
              <img src="{{url_for('static', filename='Swisschard.png')}}" alt="">
            </div>
            
            <div class="card-body">
              <div class="name">
                <h3>Swiss Chard</h3>
                <p>Ksh 20</p>

              </div>
              <div class="d-flex">
                <div class="btn-group">
                  <button type="submit" class="item-btn">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" id="card-item">
            <div class="image">
              <img src="{{url_for('static', filename='redcapsicum.png')}}" alt="">
            </div>
           <div class="card-body">
             <div class="name">
               <h3>Red Capsicum</h3>
               <p>Ksh 30</p>
             </div>
             
             

             <div class="d-flex">
               <div class="btn-group">
                 <button type="submit" class="item-btn">Add to Cart</button>
               </div>
             
             </div>
           </div>
         </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" id="card-item">
            <div class="image">
              <img src="{{url_for('static', filename='greencapsicum.png')}}" alt="">
            </div>
           <div class="card-body">
             <div class="name">
               <h3>Green Capsicum</h3>
               <p>Ksh 30</p>
             </div>
             
             

             <div class="d-flex">
               <div class="btn-group">
                 <button type="submit" class="item-btn">Add to Cart</button>
               </div>
             
             </div>
           </div>
         </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" id="card-item">
            <div class="image">
              <img src="{{url_for('static', filename='cabbage.png')}}" alt="">
            </div>
           <div class="card-body">
             <div class="name">
               <h3>Cabbage</h3>
               <p>Ksh 50</p>
             </div>
             
             

             <div class="d-flex">
               <div class="btn-group">
                 <button type="submit" class="item-btn">Add to Cart</button>
               </div>
             
             </div>
           </div>
         </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" id="card-item">
            <div class="image">
              <img src="{{url_for('static', filename='cauliflower.png')}}" alt="">
            </div>
           <div class="card-body">
             <div class="name">
               <h3>Cauliflower</h3>
               <p>Ksh 40</p>
             </div>
             
             

             <div class="d-flex">
               <div class="btn-group">
                 <button type="submit" class="item-btn">Add to Cart</button>
               </div>
             
             </div>
           </div>
         </div>
        </div>

        <div class="col">
          <div class="card shadow-sm" id="card-item">
            <div class="image">
              <img src="{{url_for('static', filename='Peeledgarlic.png')}}" alt="">
            </div>
           <div class="card-body">
             <div class="name">
               <h3>Peeled Garlic</h3>
               <p>Ksh 50</p>
             </div>
             
             

             <div class="d-flex">
               <div class="btn-group">
                 <button type="submit" class="item-btn">Add to Cart</button>
               </div>
             
             </div>
           </div>
         </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" id="card-item">
            <div class="image">
              <img src="{{url_for('static', filename='Garlic.png')}}" alt="">
            </div>
           <div class="card-body">
             <div class="name">
               <h3>Garlic</h3>
               <p>Ksh 30</p>
             </div>
             
             

             <div class="d-flex">
               <div class="btn-group">
                 <button type="submit" class="item-btn">Add to Cart</button>
               </div>
             
             </div>
           </div>
         </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" id="card-item">
            <div class="image">
              <img src="{{url_for('static', filename='curlykale.png')}}" alt="">
            </div>
           <div class="card-body">
             <div class="name">
               <h3>Curly Kales</h3>
               <p>Ksh 40</p>
             </div>
             
             

             <div class="d-flex">
               <div class="btn-group">
                 <button type="submit" class="item-btn">Add to Cart</button>
               </div>
             
             </div>
           </div>
         </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" id="card-item">
            <div class="image">
              <img src="{{url_for('static', filename='parsley.png')}}" alt="">
            </div>
           <div class="card-body">
             <div class="name">
               <h3>Parsley</h3>
               <p>Ksh 20</p>
             </div>
             
             

             <div class="d-flex">
               <div class="btn-group">
                 <button type="submit" class="item-btn">Add to Cart</button>
               </div>
             
             </div>
           </div>
         </div>
        </div>
       
      </div>
    </div>
  </div>

</main>

<div class="container" id="vegesbanner">
  <img src="{{url_for('static', filename='vegesborder.png')}}" alt="no image">
  

</div>


</div>




{% endblock %}